.forecast {
  font-weight: 500;
  background-color: #8bc34a0a;
  border-radius: 60px;
  padding: 20px 0;
}

.forecast:hover {
  background-color: #a1f3430a;
}

.forecast h3 {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.forecast__weather img {
  width: 100%;
}

.forecast span {
  display: block;
}
