.dashboard__home {
  width: 100%;
  display: flex;
  justify-content: center;
}

.dashboard__bar {
  max-width: 700px;
  background: linear-gradient(270deg, rgba(25, 27, 31, 1) 0%, rgba(62, 205, 224, 0.6) 100%);
  display: flex;
  align-items: center;
  border-radius: 60px;
  padding: 10px;
}

.dashboard__bar input {
  background: transparent;
  flex: 1;
  border: 0;
  font-size: 18px;
  padding: 10px;
  color: var(--white);
  font-family: 'Poppins', sans-serif;
}

.dashboard__bar input:focus {
  outline: none;
}

::placeholder {
  color: var(--white);
}

.dashboard__bar button {
  border: 0;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  cursor: pointer;
}

.dashboard__bar button:hover {
  background-color: var(--secondary-color);
}
